﻿@using test.Models;
<script src="~/js/site.js">
</script>

@model Organization;
@{
    ViewBag.Title = "AddOrganization";
}


@using (Html.BeginForm("AddOrganization", "Organization", FormMethod.Post))
{
    <fieldset>
        <legend>Add organization</legend>
        Organization: <br /> <input type="text" name="OrganizationName" maxlength="50" />
        <br />
        <div id="founder">
            <imput type=" text" name="Founder" />
            <input type="button" value="Add new founder" onclick="DynamicText()" />
        </div>
        <br />
        <input type="submit" value="Save" />
    </fieldset>
}
