﻿@using test.Models;
@model  List<Organization>


@{
    ViewBag.Title = "Index";
}

<h2>List of organizations</h2>
<table class="table">
    <tbody>
        <tr>
            <th>
                Organization
            </th>
            <th>
                Founders
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrganizationName)
                </td>
                <td>
                    @for (int i = 0; i < item.Founders.Count(); i++)
                    {
                        <div>
                            @Html.DisplayFor(modelItem => item.Founders[i].FounderName + ' ' + item.Founders[i].FounderSurname + ' ' + item.Founders[i].FounderPat)
                        </div>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<p>&nbsp;</p>
<p><span style="background-color: #2b2301; color: #fff; display: inline-block; padding: 3px 10px; font-weight: bold; border-radius: 5px;">
    @Html.ActionLink("Add organization","AddOrganization",new { })
    </span></p>
<p>&nbsp;</p>
<p><strong>&nbsp;</strong></p>